@model IEnumerable<AngularView.Models.Caja>
@{
    ViewData["Title"] = "Cajas";
    Layout = "_LayoutVendedor";
    string estilo = "";
}


<h3>Espacios Diponibles<small> Una vez selecionado uno de click en tomar</small></h3>


<div class="row">
    @foreach (var item in Model)
    {
        @if (item.Ocupado == 0)
        {
            estilo = "bg-success ";
        }
        @if (item.Ocupado == 1)
        {
            estilo = "bg-info";
        }
        @if (item.Ocupado == 2)
        {
            estilo = "bg-primary";
        }
        <div class="card col-2">
            <div class="card-header @estilo">
                <h4>Espacio - @item.Descripcion</h4>
                <p>
                    $ @item.Costo.ToString()
                </p>
            </div>
            <div class="card-body">
                @if (item.Ocupado == 0)
                {
                    <p>Disponible</p>
                }
                @if (item.Ocupado == 1)
                {
                    <p>Apartado</p>
                }
                @if (item.Ocupado == 2)
                {
                    <p>Ocupado</p>
                }

                @if (item.Ocupado == 0)
                {
                    <a class="btn btn-outline-info" asp-action="TomarCajon" asp-route-id="@item.Id">Tomar</a>
                }


            </div>
        </div>
    }
</div>
