@model IEnumerable<AngularView.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutVendedor";
}

<h1>Calendario de eventos</h1>

@foreach (var item in Model) {
       <div class="card col-12">
           <div class="card-header">
               <h4>@item.Nombre <small> con @item.Caja.Count cajones</small> </h4>
           </div>
           <div class="card-body">

               <a class="btn btn-outline-info" asp-action="Salas" asp-controller="Salas" asp-route-id="@item.Id">Ver salas</a>
           </div>
       </div>
       <br />
}
