
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutExpositor.cshtml";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="~/Img/Carrusekl.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Angular View Te ofrece mostrar todos tus productos y servicios en tiempo real.</h1>
                    <p>Cada cliente que quiera adquirir algo de tus productos o servicios te llegara un correo con toda la información de lo que está interesado el cliente, así tu podrás concretar la venta bajo los mecanismos internos de tu propio negocio.</p>
                </div>
            </div>
        </div>
      
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
<hr />

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/Img/Registrar.mp4" allowfullscreen autoplay></iframe>
            </div>
            <br />
            <h2>Registrar Productos o servicios</h2>
            <p>Administra tus productos y servicios </p>
            <p><a class="btn btn-secondary" asp-action="Productos" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/Img/Ventas.mp4" allowfullscreen autoplay></iframe>
            </div>
            <br />
            <h2>Ventas</h2>

            <p>Cuando Angular View este disponible podran vizualisar sus ventas y solicitud de servicios aquí</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/Img/Modificar.mp4" allowfullscreen autoplay></iframe>
            </div>
            <br />
            <h2>Modificar mi Espacio</h2>
            <p>Aqui podras personalizar tu espacio, descripciones, logo, titutlo, etc.</p>
            <p><a class="btn btn-secondary" asp-action="MisCajones" role="button">Ir »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Dinámicas exclusivas para clientes de Angular View</h2>
            <p class="lead">Recibe descuentos especiales en los próximos eventos de Anguar View, Solo tienes que invitar 2 participantes cuando paguen su acceso tu obtendrás hasta un 50% de descuento en el tuyo.</p>
        </div>
        <div class="col-md-5">
           <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" height: auto;" src="~/Img/angularView.png" data-holder-rendered="true">
        </div> 
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Inovación <span class="text-muted">Sigamos adelante JUNTOS.</span></h2>
            <p class="lead">
                Inscribe tu negocio a algún evento próximo y obtén descuento por ser parte de nuestra gran apertura
                Visita nuestro Calendario de Eventos.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Img/Jutnos.jpeg" data-holder-rendered="true" style="width: 500px; height: auto;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Siguiente Evento</h2>
            <p class="lead">EXPO GARDEN PARTY, Aquí entraras todo lo que tu fiesta o reunión necesita, no importa el tamaño de tu evento.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Img/expo.jpeg" data-holder-rendered="true" style="width: 500px; height: auto;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>