@model AngularView.Models.ProductoServicio

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutExpositor.cshtml";
}

<h1>Editar</h1>

<h4>Producto Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decripcion" class="control-label"></label>
                <input asp-for="Decripcion" class="form-control" />
                <span asp-validation-for="Decripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioNormal" class="control-label"></label>
                <input asp-for="PrecioNormal" class="form-control" />
                <span asp-validation-for="PrecioNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioDescuento" class="control-label"></label>
                <input asp-for="PrecioDescuento" class="form-control" />
                <span asp-validation-for="PrecioDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">¿Este producto o servicio tiene descuento?</label>
                <br />
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" type="radio" name="Descuento" id="Descuento1" value="1">
                    <label class="form-check-label" for="Descuento1">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Descuento" id="Descuento2" value="0">
                    <label class="form-check-label" for="Descuento2">No</label>
                </div>
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">¿Es producto o servicio?</label>
                <br />
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" type="radio" name="Tipo" id="Tipo1" value="1">
                    <label class="form-check-label" for="Tipo">Producto</label>
                </div>
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" name="Tipo" id="DTipo2" value="0">
                    <label class="form-check-label" for="Tipo2">Servicio</label>
                </div>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <input type="date" />
            <input type="time" />
            <input asp-for="Activo" class="form-control" hidden />

            <input asp-for="Modificado" class="form-control" hidden />


            <input asp-for="Stock" class="form-control" hidden />

            <select asp-for="IdExpositor" class="form-control" asp-items="ViewBag.IdExpositor" hidden></select>

            <div class="form-group">
                <input type="submit" value="Cambiar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Admin">Regresar</a>
</div>

