@model AngularView.Models.Vendedores

@{
    Layout = "_LayoutVendedor";

}

            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header">
                                <h3>Ver mis ventas </h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-info">
                                    Ver
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class=" col-3">
                        <div class="card">
                            <div class="card-header">
                                <h3>Nueva venta </h3>
                            </div>
                            <div class="card-body">
                                <a href="@Url.ActionLink("Index","Salas")" class="btn btn-success">
                                    Agregar
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-3">
                        <div class="card">
                            <div class="card-header">
                                <h3>Tu comision actual</h3>
                            </div>
                            <div class="card-body">
                              $  @Model.Comision.ToString();
                            </div>
                        </div>
                    </div>
                </div>
            </div>

