@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <video src="~/Img/Freelance.mp4" controls style="width:100%;"></video>
    <p></p>
</div>
<div class="input-group">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <font style="font-size: 20px">
                <b>Instrucciones:</b><br>
                <b>1.</b> Llena el registro de freelance. <a class="btn btn-info btn-sm" asp-controller="Vendedores" asp-action="Create">Registrarse</a><br>
                <b>2.</b> Espera la aprobación y tu ID. de freelance.<br>
                <b>3.</b> Lee y acepta políticas y términos y condiciones y podrás comenzar a generaar ingresos extra para
                ti y tu famnilia.<br><br>
                <b>¡EXITO!</b>
            </font>
        </div>
    </div>
</div>