
@{
    Layout = null;
    //https://cdn.pixabay.com/photo/2018/10/06/01/42/caballito-3727209_960_720.jpg
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngularView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
               /*
        * Globals
        */

               /* Links */
               a,
               a:focus,
               a:hover {
                   color: #fff;
               }

               /* Custom default button */
               .btn-secondary,
               .btn-secondary:hover,
               .btn-secondary:focus {
                   color: #333;
                   text-shadow: none; /* Prevent inheritance from `body` */
                   background-color: #fff;
                   border: .05rem solid #fff;
               }


               /*
        * Base structure
        */

               html,
               body {
                   height: 100%;
                   background-color: #333;
               }

               body {
                   display: -ms-flexbox;
                   display: -webkit-box;
                   display: flex;
                   -ms-flex-pack: center;
                   -webkit-box-pack: center;
                   justify-content: center;
                   color: #fff;
                   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
                   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
               }

               .cover-container {
                   max-width: 62em;
               }


               /*
        * Header
        */
               .masthead {
                   margin-bottom: 2rem;
               }

               .masthead-brand {
                   margin-bottom: 0;
               }

               .nav-masthead .nav-link {
                   padding: .25rem 0;
                   font-weight: 700;
                   color: rgba(255, 255, 255, .5);
                   background-color: transparent;
                   border-bottom: .25rem solid transparent;
               }

                   .nav-masthead .nav-link:hover,
                   .nav-masthead .nav-link:focus {
                       border-bottom-color: rgba(255, 255, 255, .25);
                   }

                   .nav-masthead .nav-link + .nav-link {
                       margin-left: 1rem;
                   }

               .nav-masthead .active {
                   color: #fff;
                   border-bottom-color: #fff;
               }

               @@media (min-width: 48em) {
                   .masthead-brand {
                       float: left;
                   }

                   .nav-masthead {
                       float: right;
                   }
               }


               /*
        * Cover
        */
               .cover {
                   padding: 0 1.5rem;
               }

                   .cover .btn-lg {
                       padding: .75rem 1.25rem;
                       font-weight: 700;
                   }


               /*
        * Footer
        */
               .mastfoot {
                   color: rgba(255, 255, 255, .5);
               }
    </style>
</head>
<body class="text-center" style="        background-image: linear-gradient( rgba(0, 0, 0, 1.4), rgba(0, 0, 0, 0.3) ), url(https://cdn.pixabay.com/photo/2018/10/06/01/42/caballito-3727209_960_720.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    ">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <img src="~/Img/logo.png" style="width:15em" />
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="@Url.Action("Expo", "Home")">Inicio</a>
                    <a class="nav-link active" href="@Url.Action("ProxExpo", "Home")">Calendario</a>
                    <a class="nav-link " href="@Url.Action("Login", "AdminExpositores")">Soy Expositor</a>

                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">

            <div class="container" style="padding:3em;max-height: 550px;overflow-y: scroll;">
                <h3>Proximas Expos</h3>
                <div class="card mb-3 bg-dark text-center" style="max-width: 840px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Img/ExpoVerano.jpeg" style="width:15em" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2>Expo tu Verano 2021<small><br /> 12 al 19 Junio 2021</small></h2>

                                <i data-toggle="popover" title="Expo tu verano 2021" data-content="En esta Expo podrás encontrar las mejores opciones de recreación para este verano 2021, Actividades de recreación para toda la  familia" class="bi bi-info-circle"></i>

                                <h4> </h4>
                                <hr />
                                <div class="" style="padding-left:1em">
                                    <label class="">Gracias por participar</label>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Negocios participantes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-dark text-center" style="max-width: 840px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Img/ExpoGarden.jpeg" style="width:15em" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2>Expo garden party 2021<small><br /> ...<small></h2>
                                <i data-toggle="popover" title="EXPO GARDEN PARTY" data-content="Expo pensada para organizar todo tipo de fiesta o evento social, no importa el tamaño de tu evento o reunión, Variedad de opciones que harán que tu reunión sea todo un éxito" class="bi bi-info-circle"></i>

                                <hr />
                                <a class="btn btn-outline-dark">Proximamente...</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                                    Negocios participantes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-dark text-center" style="max-width: 840px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Img/Bebe.jpeg" style="width:21em" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2>Expo tu bebe<small><br /> ...<small></h2>
                                <i data-toggle="popover" title="EXPO TU BEBE" data-content="Evento que permite encontrar todo lo relacionado con tu bebe en cualquier etapa de su crecimiento, diferentes opciones relacionados necesidades y  con su desarrollo físico, social y emocional."></i>

                                <hr />
                                <a class="btn btn-outline-dark">Proximamente...</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                                    Negocios participantes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-dark text-center" style="max-width: 840px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Img/Alternativa.jpeg" style="width:29em" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2>Expo vida alternativa<small><br /> ...<small></h2>
                                <i data-toggle="popover" title="EXPO VIDA ALTERNATIVA" data-content="Evento que expone una  rica variedad en productos y servicios para un estilo de vida particular, diferente y alternativo. "></i>

                                <hr />
                                <a class="btn btn-outline-dark">Proximamente...</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
                                    Negocios participantes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-dark text-center" style="max-width: 840px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Img/ExpoGarden.jpeg" style="width:15em" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2>Expo fit & sport<small><br /> ...<small></h2>
                                <i data-toggle="popover" title="EXPO FIT & SPORT" data-content="Expo dedicada a aquellos amantes de las disciplinas  deportivas y vida saludable, encontraras productos y servicios  en diferentes áreas para toda la familia. Vive mejor Vive FIT." class="bi bi-info-circle"></i>

                                <hr />
                                <a class="btn btn-outline-dark">Proximamente...</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa4">
                                    Negocios participantes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <br />
                <br />
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner ">
                <p class="text-white"> © 2021 - Copyright © ALDA Networks</p>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">EXPO TU BEBE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark">QUINTAS</li>
                        <li class="list-group-item bg-dark">  AGENCIAS DE VIAJES</li>
                        <li class="list-group-item bg-dark">AGENCIAS DE TOURS</li>
                        <li class="list-group-item bg-dark">BALNEARIOS</li>
                        <li class="list-group-item bg-dark">HOTELES</li>
                        <li class="list-group-item bg-dark">HOSTALES</li>
                        <li class="list-group-item bg-dark">PARQUES</li>
                        <li class="list-group-item bg-dark">LUGARES TURÍSTICOS</li>
                        <li class="list-group-item bg-dark">TOURS DE REDES SOCIALES</li>
                        <li class="list-group-item bg-dark">TIENDAS DE TRAJES DE BAÑO</li>
                        <li class="list-group-item bg-dark">TIENDA DE ARTÍCULOS DE PLAYA</li>
                        <li class="list-group-item bg-dark">DEPORTES EXTREMOS</li>
                        <li class="list-group-item bg-dark">CLASES DE NATACIÓN</li>
                        <li class="list-group-item bg-dark">CAMPAMENTOS</li>
                        <li class="list-group-item bg-dark">ACTIVIDADES PARA NIÑOS</li>
                    </ul>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">EXPO GARDEN PARTY</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark">SALONES DE FIESTAS</li>
                        <li class="list-group-item bg-dark">CATERING</li>
                        <li class="list-group-item bg-dark">ORGANIZADORES DE EVENTOS</li>
                        <li class="list-group-item bg-dark">SHOW INFANTIL</li>
                        <li class="list-group-item bg-dark">FLORERÍA</li>
                        <li class="list-group-item bg-dark">ARREGLOS PARA FIESTAS</li>
                        <li class="list-group-item bg-dark">CENTROS DE MESA</li>
                        <li class="list-group-item bg-dark">MESA DE POSTRES Y DULCES</li>
                        <li class="list-group-item bg-dark">INVITACIONES </li>
                        <li class="list-group-item bg-dark">TIENDA DE ACCESORIOS </li>
                        <li class="list-group-item bg-dark">DJ'S </li>
                        <li class="list-group-item bg-dark">BANDAS MUSICALES</li>
                        <li class="list-group-item bg-dark">ANIMADORES</li>
                        <li class="list-group-item bg-dark">COMEDIANTES</li>
                        <li class="list-group-item bg-dark">BARES Y RESTAURANTES</li>
                        <li class="list-group-item bg-dark">BARMAN</li>
                        <li class="list-group-item bg-dark">MESA DE REGALOS </li>
                        <li class="list-group-item bg-dark">RENTA DE ACCESORIOS PARA EVENTO DE JARDÍN </li>
                        <li class="list-group-item bg-dark">INFLABLES, BRINCOLINES</li>
                        <li class="list-group-item bg-dark">TIENDA DE VESTIDOS</li>
                        <li class="list-group-item bg-dark">TIENDA DE ACCESORIOS DE NOVIA/XV</li>
                        <li class="list-group-item bg-dark">RENTA DE LETRAS Y ADORNOS </li>
                        <li class="list-group-item bg-dark">RENTA DE CARRO PARA BODA/XV</li>
                        <li class="list-group-item bg-dark">ARREGLO PERSONAL Y MAQUILLAJE </li>
                        <li class="list-group-item bg-dark">PASTELES</li>
                        <li class="list-group-item bg-dark">SERIGRAFÍA Y ESTAMPADO</li>
                        <li class="list-group-item bg-dark">FOTOS Y VIDEOS</li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">EXPO TU BEBE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark">TIENDAS DE ROPA</li>
                        <li class="list-group-item bg-dark">  TIENDAS DE ACCESORIOS</li>
                        <li class="list-group-item bg-dark">SERIGRAFÍA Y ESTAMPADO</li>
                        <li class="list-group-item bg-dark">REVELACIÓN DEL SEXO DEL BB</li>
                        <li class="list-group-item bg-dark">CLÍNICA DE MATERNIDAD</li>
                        <li class="list-group-item bg-dark">PEDIATRÍA</li>
                        <li class="list-group-item bg-dark">CLÍNICAS ESPECIALIZADAS PARA DISCAPACIDAD</li>
                        <li class="list-group-item bg-dark">SALÓN PARA BABY SHOWER</li>
                        <li class="list-group-item bg-dark">DECORACIÓN</li>
                        <li class="list-group-item bg-dark">MESA DE POSTRES</li>
                        <li class="list-group-item bg-dark">CATERINGS</li>
                        <li class="list-group-item bg-dark">FOTO Y VIDEO</li>
                        <li class="list-group-item bg-dark">PAÑALES ECOLÓGICOS</li>
                        <li class="list-group-item bg-dark">PRODUCTOS ORGÁNICOS</li>
                        <li class="list-group-item bg-dark">ESTANCIAS Y GUARDERÍAS</li>
                        <li class="list-group-item bg-dark">JUGUETES DE ESTIMULACIÓN TEMPRANA</li>
                        <li class="list-group-item bg-dark">PSICOLOGÍA INFANTIL</li>
                        <li class="list-group-item bg-dark">TERAPIAS Y EJERCICIOS DURANTE EL EMBARAZO</li>
                        <li class="list-group-item bg-dark">LIBROS ACERCA DE MATERNIDAD</li>
                        <li class="list-group-item bg-dark">STREAMING DE EJERCICIOS Y CUIDADOS ANTES Y DESPUÉS DEL PARTO</li>
                        <li class="list-group-item bg-dark">CUNAS</li>
                        <li class="list-group-item bg-dark">DECORACIÓN DE INTERIORES</li>
                    </ul>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4
          " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">EXPO VIDA ALTERNATIVA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark">CARTOMANSISTAS</li>
                        <li class="list-group-item bg-dark">LIMPIAS</li>
                        <li class="list-group-item bg-dark">SANADORES CON ANGELES</li>
                        <li class="list-group-item bg-dark">CUARZOS Y PEDRERIA</li>
                        <li class="list-group-item bg-dark">HIERBERIAS</li>
                        <li class="list-group-item bg-dark">REIKI</li>
                        <li class="list-group-item bg-dark">NUMEROLOGÍA</li>
                        <li class="list-group-item bg-dark">ASTROLOGIA</li>
                        <li class="list-group-item bg-dark">YOGA</li>
                        <li class="list-group-item bg-dark">ORGANICOS</li>
                        <li class="list-group-item bg-dark">SPA</li>
                        <li class="list-group-item bg-dark">MASAJES</li>
                        <li class="list-group-item bg-dark">MAGNETOTERAPIAS</li>
                        <li class="list-group-item bg-dark">CANABIS</li>
                        <li class="list-group-item bg-dark">ACUPUNTURA</li>
                        <li class="list-group-item bg-dark">ACEITES Y DIFUSORES</li>
                        <li class="list-group-item bg-dark">LUGAR ESPIRITUAL </li>
                        <li class="list-group-item bg-dark">BEBIDAS SALUDABLES</li>
                        <li class="list-group-item bg-dark">CLUB DE NUTRICIÓN</li>
                        <li class="list-group-item bg-dark">RADIOFRECUENCIAS</li>
                        <li class="list-group-item bg-dark">MEDITACIÓN</li>
                        <li class="list-group-item bg-dark">STREAMING HIPNOSIS</li>
                        <li class="list-group-item bg-dark">LIBRERIAS</li>
                        <li class="list-group-item bg-dark">PLANTAS MEDICINALES </li>
                        <li class="list-group-item bg-dark">HOMEÓPATA</li>
                    </ul>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel">EXPO FIT & SPORT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark">TOUR DE CAMPISMO</li>
                        <li class="list-group-item bg-dark">DEPORTES EXTREMOS</li>
                        <li class="list-group-item bg-dark">EXPLORACIÓN</li>
                        <li class="list-group-item bg-dark">GIMNASIOS</li>
                        <li class="list-group-item bg-dark">BEBIDAS SALUDABLES</li>
                        <li class="list-group-item bg-dark">TIENDA DE VITAMINAS</li>
                        <li class="list-group-item bg-dark">ORGÁNICOS</li>
                        <li class="list-group-item bg-dark">NUTRIÓLOGOS</li>
                    </ul>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
