
@model AngularView.Models.ViewModels.ModelDetalleCajon
@{
    ViewData["Title"] = "MisCajones";
    Layout = "Expo_Layout";

    string sala = "";
    int posi = 0;

    if (Model.detalleCaja.IdCajaNavigation.IdSala == 2)
    {
        sala = "VIP";
    }
    else
    {
        sala = Model.detalleCaja.IdCajaNavigation.IdSala.ToString();
    }

}
@if (Model.detalleCaja.IdCajaNavigation.Tipo == 1)
{

    <div>
        <img class="fondo-pantalla" src="~/Img/Espacios/stand1.png">
        <div class="row">
            <div class="col-8">
                <div>
                    <div class="card mb-3 text-center" style="max-width: 840px; padding:1em">
                        <div class="row no-gutters">

                            <div class="col-12">
                                <h3>Titulo</h3>
                                <h5>Resumen</h5>
                            </div>
                            <hr class="col-12" />
                            <div class="col-md-4">
                                <br />
                                <h4>Logo del espacio</h4>
                                @{string rut = "../../Img/Logos/" + Model.detalleCaja.IdCaja + ".png";}
                                <img style="width:12em" src="@rut" onerror="if(this.src != '@rut') this.src = '~/Img/angularView.png">


                            </div>
                            <div class="col-md-8">
                                <div class="card-body bg-light">
                                    <h2>Sala @sala[posi] Cajon Descripcion</h2>

                                    <i data-toggle="popover" title="EXPO TU VERANO 2021" data-content="En esta Expo podrás encontrar las mejores opciones de recreación para este verano 2021, Actividades de recreación para toda la  familia" class="bi bi-info-circle"></i>

                                    <h4>Redes Sociales</h4>
                                    <hr />

                                    <a target="_blank" class="h4" href="https://www.facebook.com/">Facebook</a>
                                    <hr />


                                    string link = "https://wa.me/52" + item.detalleCaja.RedWhats;
                                    <a class="h4">Whatsapp</a>
                                    <hr />

                                    <a target="_blank" class="h4" href="https://www.instagram.com/">Instagram</a>
                                    <hr />

                                </div>
                            </div>
                            <hr class="col-12" />
                            <div class="col-md-4">
                                <a asp-action="CambiarLogo"> Cambiar Imagen</a>
                            </div>
                            <div class="col-md-8">
                                <a asp-action="ActualizarDatos" class="btn btn-outline-dark">Actualizar</a>
                            </div>
                            <br class="col-12" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="height: 700px; overflow-y: scroll;">
                    @for (int i = 0; i < 10; i++)
                    {

                        <div class="row" style="padding: 1%;">
                            <div class="card bg-info" style="width: 90%; position: relative; left: 7%;">
                                <!--<a class="container" asp-action="detalleproducto" asp-route-id="1" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>-->


                                <div class="row">
                                    <div class="col-4" style="display: flex;">
                                        <img src="~/Img/angularView.png" style="width:70px; height:70px; align-self: center;">

                                    </div>
                                    <div class="col-8" style="padding-top: 1%; padding-bottom: 1%">
                                        <h4>Nombre</h4>
                                        <hr />
                                        <p>Descripción</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

}
else
{
    <div>
        <img class="fondo-pantalla" src="~/Img/Espacios/standVip.png">
        <div class="row">
            <div class="col-8">
                <div>
                    <div class="card mb-3 text-center" style="max-width: 840px; padding:1em">
                        <div class="row no-gutters">

                            <div class="col-12">
                                <h3>Titulo</h3>
                                <h5>Resumen</h5>
                            </div>
                            <hr class="col-12" />
                            <div class="col-md-4">
                                <br />
                                <h4>Logo del espacio</h4>
                                @{string rut = "../../Img/Logos/" + Model.detalleCaja.IdCaja + ".png";}
                                <img style="width:12em" src="@rut" onerror="if(this.src != '@rut') this.src = '~/Img/angularView.png">


                            </div>
                            <div class="col-md-8">
                                <div class="card-body bg-light">
                                    <h2>Sala @sala[posi] Cajon Descripcion</h2>

                                    <i data-toggle="popover" title="EXPO TU VERANO 2021" data-content="En esta Expo podrás encontrar las mejores opciones de recreación para este verano 2021, Actividades de recreación para toda la  familia" class="bi bi-info-circle"></i>

                                    <h4>Redes Sociales</h4>
                                    <hr />

                                    <a target="_blank" class="h4" href="https://www.facebook.com/">Facebook</a>
                                    <hr />


                                    string link = "https://wa.me/52" + item.detalleCaja.RedWhats;
                                    <a class="h4">Whatsapp</a>
                                    <hr />

                                    <a target="_blank" class="h4" href="https://www.instagram.com/">Instagram</a>
                                    <hr />

                                </div>
                            </div>
                            <hr class="col-12" />
                            <div class="col-md-4">
                                <a asp-action="CambiarLogo"> Cambiar Imagen</a>
                            </div>
                            <div class="col-md-8">
                                <a asp-action="ActualizarDatos" class="btn btn-outline-dark">Actualizar</a>
                            </div>
                            <br class="col-12" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="height: 700px; overflow-y: scroll;">
                    @for (int i = 0; i < 10; i++)
                    {

                        <div class="row" style="padding: 1%;">
                            <div class="card bg-info" style="width: 90%; position: relative; left: 7%;">
                                <!--<a class="container" asp-action="detalleproducto" asp-route-id="1" style="width: 100%; height: 100%; z-index: 999; position:absolute; "></a>-->


                                <div class="row">
                                    <div class="col-4" style="display: flex;">
                                        <img src="~/Img/angularView.png" style="width:70px; height:70px; align-self: center;">

                                    </div>
                                    <div class="col-8" style="padding-top: 1%; padding-bottom: 1%">
                                        <h4>Nombre</h4>
                                        <hr />
                                        <p>Descripción</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

}









