
@{
    ViewData["Title"] = "GoVenta";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
}

    <table class="defaul" border="1" style="width:30em">

        <tr style="background-color: cornflowerblue">

            <td style="text-align:center">Cliente</td>
        </tr>

        <tr>
            <td>
                Razón social: (Nombre del cliente)<br>
                RFC: (RFC del cliente)<br>
                Dirección: (Dirección del cliente)<br>
                Teléfono: (Teléfono del cliente)<br>
                Correo electrónico: (Correo electrónico del cliente
            </td>
        </tr>
    </table>
    <br>
    <table class="defaul" border="1" style="width:30em">
        <tr style="background-color: cornflowerblue">

            <td style="text-align:center">Proovedor</td>
        </tr>

        <tr>
            <td>
                Razón social: (Nombre del proveedor)<br>
                RFC: (RFC del proveedor)<br>
                Dirección: (Dirección del proveedor)<br>
                Teléfono: (Teléfono del proveedor)<br>
                Correo electrónico: (Correo electrónico del proveedor)

            </td>
        </tr>
    </table>
    <br>
    <table class="defaul" border="1" style="width:30em">
        <tr style="background-color: cornflowerblue">

            <td style="width: 4em">Cantidad</td>
            <td style="width:18em">Descripción del Servicio</td>
            <td style=""> Precio Unitario</td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                (Características del servicio proporcionado)
            </td>
            <td style="text-align:center">
                0.00
            </td>
        </tr>
    </table>
    <table class="defaul">
        <tr>
            <td style="width: 19em">
            </td>
            <td>
                Subtotal
                <br>
                I.V.A.
                <br>
                Total
            </td>
            <td style="text-align:center">
                0.00
                <br>
                0.00
                <br>
                0.00
            </td>
        </tr>
    </table>
    <table class="defaul" border="1" style="width:30em">

        <tr style="background-color: cornflowerblue">

            <td style="text-align:center">Observaciones</td>
        </tr>

        <tr>
            <td>
                (Cuestiones a considerar, tanto para el cliente como para el proveedor, como condiciones de pago <br>
                y entrega, forma en que se proveerá el servicio, fecha y lugar, etcétera)
            </td>
        </tr>
    </table>
    <table class="defaul">

        <tr>
            <td style="text-align:center">_________________________</td>

            <td style="text-align:center">_________________________</td>
        </tr>

        <br>
        <br>

        <tr style="width:3em">
            <td></td>

            <td></td>
        </tr>

        <tr>
            <td style="text-align:center">
                Cliente<br>
                (Nombre y firma del cliente)
            </td>
            <td style="text-align:center">
                Proveedor <br>
                (Nombre y firma del proveedor)

            </td>
        </tr>

    </table>

