@model IEnumerable<AngularView.Models.Sala>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
}

<div>
    <img class="fondo-pantalla" src="~/Img/background.png">
    <div>
        <button mat-icon-button class="boton-informacion cursor-hover-animation" ></button>
        <button mat-icon-button class="boton-registro cursor-hover-animation" ></button>
        <button mat-icon-button class="boton-sala1 cursor-hover-animation" ></button>
        <button mat-icon-button class="boton-sala2 cursor-hover-animation" ></button>
        <button mat-icon-button class="boton-sala3 cursor-hover-animation" ></button>
    </div>
</div>



