
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Expo_Layout.cshtml";
}

<div>
    <div>
        <div>
            <img class="fondo-pantalla" src="~/Img/fonExpo.png">
            <div>
                <div class="video-container-entrance-succes"></div>
                <div class="number-container">
                    <div class=" border-gray mx-sm-1 p-2" style="background-color: transparent;">



                        <div class="" style="font-size: 1.5em;">Visitantes</div>
                        <div class=""><p style="font-size: 1.5em;background-color: black;color: #17bba0;font-family: 'Orbitron', sans-serif;border-radius: 10px;padding: .2em;">1354</p></div>

                    </div>
                </div>
                <a class="boton-informacion cursor-hover-animation" asp-action="ModuloInformacion"></a>
                <a class="boton-registro cursor-hover-animation" asp-action="Registro"></a>
                <a class="boton-sala1 cursor-hover-animation" asp-action="cajones" asp-route-id="1"></a>
                <a class="boton-sala2 cursor-hover-animation" asp-action="cajones" asp-route-id="2"></a>
                <a class="boton-sala3 cursor-hover-animation" asp-action="cajones" asp-route-id="3"></a>


            </div>
        </div>
    </div>
</div>