@model IEnumerable<AngularView.Models.Sala>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngularView</title>
    <link rel="shortcut icon" type="image/png" href="~/Img/angularView.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StiloExpo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div>

        <div>
            <img class="fondo-pantalla" src="~/Img/fonExpo.png">
            <div>
                <div class="video-container-entrance"></div>
                <div class="number-container">
                    <div class=" border-gray mx-sm-1 p-2" style="background-color: transparent;">



                        <div class="" style="font-size: 1.5em;">Visitantes</div>
                        <div class=""><p style="font-size: 1.5em;background-color: black;color: #17bba0;font-family: 'Orbitron', sans-serif;border-radius: 10px;padding: .2em;">1354</p></div>

                    </div>
                </div>
                <a class="boton-informacion cursor-hover-animation" asp-action="ModuloInformacion"></a>
                <a class="boton-registro cursor-hover-animation" asp-action="Registro"></a>
                <a class="boton-sala1 cursor-hover-animation" asp-action="cajones" asp-route-id="1"></a>
                <a class="boton-sala2 cursor-hover-animation" asp-action="cajones" asp-route-id="2"></a>
                <a class="boton-sala3 cursor-hover-animation" asp-action="cajones" asp-route-id="3"></a>


            </div>
        </div>
    </div>
</body>
   <footer>
                <section id="contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase" style="color:aliceblue">Cont&aacute;ctanos</h2>
                                <h3 class="section-subheading text-muted"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--<form id="contactForm" name="sentMessage" novalidate="novalidate" method="POST" action="enviarContacto.php">-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" id="nombre_c" type="text" placeholder="Tu Nombre *" onkeyup='aMays(event, this)' onblur='aMays(event, this)'>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="email_c" type="email" placeholder="Tu Email *">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="tel_c" type="tel" placeholder="Tu Tel&eacute;fono *">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" id="mensaje_c" placeholder="Tu Mensaje *" onkeyup='aMays(event, this)' onblur='aMays(event, this)'></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <!--<div id="success"></div>-->
                                        <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="button" onclick="contacto()">Enviar Mensaje</button>
                                    </div>
                                </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </section>
            </footer>

</html>


